.search{
    text-align: center;
    width:80vw;
    margin: 0 auto;
    margin-top:4vw;
}

.search select{
    display: inline-block;
    margin-right: 3vw;
    height: 50px;
    width:50vw;
}

.search button{
    height:50px;
    width:80px;
}

.favList button{
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.favList div{
    display: inline-block;
    text-align: center;
    margin-top:3vw;
    font-size: 1.4em;
    text-decoration: underline;
    font-style: italic;
}


.favList, table{
text-align: center;
/* width:80vw; */
margin-top: 3vw;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
}

td{
   border:1px solid black;
   padding:5px;
   width:20vw;
}

table th{
    font-weight: bolder;
    text-transform: uppercase ;
    border:1px solid black;
    border-bottom:3px solid black;
}
table td:nth-of-type(n){
    border-bottom: 3px solid #01423c;
}
table td:nth-of-type(1){
    font-weight: bold;
}

tr button{
    height: 33px;
}

.favList table button{
    margin-left: 5px;
    margin-right: auto;
}



tr:nth-of-type(2n+1) td{
    background-color: #9ae9e1;
}

tr:nth-of-type(2n) td{
    background-color: #57c4ba;
}

tr:nth-of-type(1){
    background-color: #fef5f5;
}