<section class='component'>
  <div id='types'>
<button (click)="showA()">Type A</button>
<button (click)="showB()">Type B</button>
<button (click)="showC()">Type C</button>
</div>
<h3>List of currencies 04/11/2020</h3>

<table [ngClass]="isAVisible ? 'visible' : 'hidden'">
  <tr>
    <th>Currency</th>
    <th>Code</th>
    <th>Mid</th>
  </tr>
  <tr *ngFor="let d of rateListA">
    <td>{{ d.currency }}</td>
    <td>{{ d.code }}</td>
    <td>{{ d.mid }}</td>
  </tr>
</table>

<table [ngClass]="isBVisible ? 'visible' : 'hidden'">
  <tr>
    <th>Currency</th>
    <th>Code</th>
    <th>Mid</th>
  </tr>
  <tr *ngFor="let d of rateListB">
    <td>{{ d.currency }}</td>
    <td>{{ d.code }}</td>
    <td>{{ d.mid }}</td>
  </tr>
</table>

<table [ngClass]="isCVisible ? 'visible' : 'hidden'">
  <tr>
    <th>Currency</th>
    <th>Code</th>
    <th>Bid</th>
    <th>Ask</th>
  </tr>
  <tr *ngFor="let d of rateListC">
    <td>{{ d.currency }}</td>
    <td>{{ d.code }}</td>
    <td>{{ d.ask }}</td>
    <td>{{d.bid }}</td>
  </tr>
</table>
</section>